* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background: whitesmoke;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  /* margin-top: 10px;   */
  margin: 10px 7px 0 7px;
  border-radius: 25px;
  width: 98%;
}
.nav-logo a {
  text-decoration: none;
  margin-left: 20px;
}
.nav-logo a img {
  height: 25px;
  /* background: red; */
}
.nav-list {
  margin-left: 20px;
  font-family: Verdana, sans-serif;
  font-size: 13px;

  /* padding: 13px 10px; */
}
.nav-list .nav-item {
  display: inline-block;
  padding: 13px 10px;
  color: white;
}
.menu {
  display: none;
}
.menu-line {
  width: 17px;
  height: 2px;
  background-color: #343a40;
  margin-bottom: 3px;
  /* display: flexbox; */
  /* padding-top: 1px; */
}
.nav-logo :hover {
  filter: drop-shadow(0 0 0.55rem yellow);
}

.nav-list :hover {
  /* filter: drop-shadow(0 0 0.55rem rgb(255, 217, 0)); */
  color: #eb5e28;
  cursor: pointer;
}

.card {
  /* background: #000; */
  height: max-content;
  width: 50%;
  padding: 3%;
  margin: 10% 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.37);
  /* box-shadow: 2px 2px 6px #4b5156, -2px -2px 6px #8d99a4; */
  text-align: center;
  color: #000022;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  font-family: Verdana, sans-serif;
  /* display: flex; */
  /* flex-direction: column; */
}
.card .container .form {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}
@media all and (max-width: 480px) {
  .card {
    width: 70%;
  }
}

@media all and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    position: relative;
    padding: 12px;
    width: 90%;
  }
  .menu {
    display: block;
    position: absolute;
    right: 25px;
    top: 20px;
    /* padding-bottom: 10px; */
  }
  .nav-list {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    display: none;
    padding-top: 25px;
    /* padding-bottom: 15px; */
  }
  .nav-list .nav-item {
    display: block;
    /* padding: 18px; */
    /* border-top: 1px solid; */
  }
  .active {
    display: block;
  }
  /* .menu :active {
    transform: rotate(90deg);
  } */
}

/* from start here */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: whitesmoke; */
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);

  /* background-image: ; */
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 80%;
  padding: 4%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .input-data {
  height: 40px;
  width: 60%;
  position: relative;
  margin-bottom: 7%;
}
.wrapper .input-data input {
  height: 100%;
  width: 100%;

  border: none;
  font-size: 17px;
  background-color: transparent;
  border-bottom: 2px solid #000022;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label {
  transform: translateY(-27px);
  font-size: 13px;
  color: #000022;
  /* backdrop-filter: blur(6px); */
  background: transparent;

  /* border: none; */
}
.wrapper .input-data label {
  position: absolute;
  bottom: 8px;
  left: 5px;
  color: #000022;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-data input:focus,
.input-data input:valid {
  color: #000022;
  background: transparent;
  /* border: none; */
}

.gender p {
  padding: 10%;
  font-size: 160%;
}

.wrapper .gender label {
  position: relative;
}
.wrapper .gender label input {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
.wrapper .gender label .fas {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.37);
  line-height: 40px;
  text-align: center;
  margin: 0 4px;
  color: #3eadcf;
  font-size: 16px;
  border-radius: 50%;
  cursor: pointer;
  border-radius: 50px;
  /* background: #a4dce0; */
  box-shadow: 20px 20px 60px #8bbbbe, -20px -20px 60px #bdfdff;
}
.wrapper .gender label .fas:hover {
  color: #000022;
  border-radius: 50%;

  box-shadow: inset 7px 7px 14px #8bbbbe, inset -7px -7px 14px #bdfdff;
}
.gender label input:checked ~ .fas {
  color: #000022;
  border-radius: 50%;

  box-shadow: inset 7px 7px 14px #8bbbbe, inset -7px -7px 14px #bdfdff;
}
.wrapper .drp {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
}
.wrapper .dropdown {
  width: 100%;
  position: relative;
  margin-top: 10%;
}

.wrapper .dropdown:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
}
.wrapper .dropdown-item:hover {
  color: #000022;
  cursor: pointer;
  border-bottom: 1px solid #000022;
  border-top: 1px solid #000022;
}

.dropdown-select {
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.205);
  box-shadow: 6px 5px 23px #8bbbbe, -6px -5px 23px #bdfdff;
}
.wrapper .dropdown-list {
  border-radius: 6px;
  position: absolute;
  background: #a4dce0;
  top: 125%;

  /* width: auto; */
  left: 10%;
  right: 0;
  visibility: hidden;
  z-index: 2;
  transition: opacity 0.2s linear, visibility 0.2s linear;
  box-shadow: 6px 5px 23px #8bbbbe, -6px -5px 23px #bdfdff;
}
.wrapper .dropdown-item {
  padding: 15px;
}
.checkbox p {
  padding: 17%;
  font-size: 160%;
}

.wrapper .checkbox label {
  position: relative;
  display: inline-flex;
}
.wrapper .checkbox label input {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
.wrapper .checkbox label span {
  position: relative;

  width: 40px;
  height: 40px;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.15);
  line-height: 40px;
  text-align: center;
  margin: 0 4px;
  color: #000022;
  font-size: 13px;
  border-radius: 30%;
  cursor: pointer;
  box-shadow: 4px 2px 10px #8bbbbe, -4px -2px 10px #bdfdff;
}
.wrapper .checkbox label span:hover {
  color: #000022;
  border-radius: 30%;

  box-shadow: inset 7px 7px 14px #8bbbbe, inset -7px -7px 14px #bdfdff;
}
.wrapper .checkbox label input:checked + span {
  color: #000022;
  /* border-radius: 50%; */

  box-shadow: inset 7px 7px 14px #8bbbbe, inset -7px -7px 14px #bdfdff;
}
.wrapper .date {
  padding-top: 8%;
  padding-bottom: 8%;
  width: 60%;
}
.wrapper .date p {
  padding-bottom: 5%;
  font-size: 160%;
}
.wrapper .date input {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  /* width: 80px; */
  /* height: 30px; */
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: #000022;
  width: 90%;
  box-shadow: 6px 6px 24px #8bbbbe, -6px -6px 24px #bdfdff;
  padding: 17px;
}
.submit-btn {
  padding-top: 2%;
}
.submit-btn input {
  width: 70px;
  height: 40px;
  padding: 5%;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  background: #000022;
  color: #abe9cd;
  /* box-shadow: 6px 6px 18px #4b5156, -6px -6px 18px #8d99a4; */
}

.submit-btn input:active {
  /* border-radius: 50px; */
  /* background: rgba(255, 255, 255, 0.15); */
  box-shadow: 20px 20px 60px, -20px -20px 60px;
}
form {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.hidden {
  display: none;
}
.drp p {
  padding: 10%;
  font-size: 160%;
}
.wrapper .data {
  height: 40px;
  width: 60%;
  position: relative;
  margin-bottom: 7%;
}
